div {
    color:blue;
}

.element {
    color: red;
}

.big {
    color: black;
}

#second {
    color: yellow;
}

/* id second и класс element */
#second.element {
    color:blueviolet;
}

/* 
- тэги менее приоритетны 
- классы более приоритетны (если конфликтует, тогда берутся с последнего класса)
- идентификатор более приоретен
- можно на прямую в аттрибуте написать - более приоритетно (не используется)
- вложенность классов перебивает все .wrapper .element
*/

/* конкретно во wrapper конкретно element */
.wrapper .element {

}

