/* селектор {
    свойство: значение;
    свойство: значение;
    свойство: значение;
}
селектор - по какому параметру обратиться к элементу документа
    к ним могут относиться классы (class), уникальные идентификаторы, дата аттрибуты и вложенность */

h2 {
    color: rgba(255, 0, 0, 0.5);
    font-size: 30px;
    text-align: center;
}
.chapter {
    color:#006400;
    text-align: left;
    font-weight: 700;
}

#first_list_item {
    color: yellowgreen;
    font-style: italic;
	/* text-decoration: underline; */
    text-decoration: line-through;
    font-size: 30px;
    text-transform: uppercase;
}

/* вложенность
div nav {

} */

.box {
    width: 300px;
    height: 300px;
    background-color: greenyellow;
    /* padding: 20px;
    padding-left: 50px;
    padding-top: 30px; */

    /* padding: 20px 50px; */
    /* 20px вверх низ */
    /* 50px лево право */

    padding: 20px 50px 40px 60px;
    /* по часовой, начиная сверху */

    border-width: 3px;
    border-style: solid;
    border-color: blueviolet;

    /* комбинированная настройка */
    /* border: 3px solid black; */

    margin: 40px;

}